kind: ConfigMap
apiVersion: v1
metadata:
  name: grafana-datasources
  namespace: {{ .Release.Namespace }}
  labels:
     grafana_datasource: "1"
data:
  datasource.yaml: |-
    apiVersion: 1
    deleteDatasources:
      - name: Prometheus
        orgId: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://10.17.2.0:313130
      access: proxy
      orgId: 1
      isDefault: true
